<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="me.nawa.wallet.mapper.QrPaymentCodeMapper">

    <insert
        id="insert"
        useGeneratedKeys="true"
        keyProperty="qrPaymentCodeId"
        keyColumn="qr_payment_code_id"
    >
        INSERT INTO qr_payment_codes (
            payee_wallet_id,
            qr_token,
            amount,
            memo,
            payment_status,
            expires_at
        )
        VALUES (
                   #{payeeWalletId},
                   #{qrToken},
                   #{amount},
                   #{memo},
                   #{paymentStatus},
                   #{expiresAt}
               )
    </insert>
</mapper>
