<?xml version="1.0" encoding="UTF-8"?>
<!-- cmd + opt + l : 줄 정렬-->
<Configuration>
    <Appenders> <!-- Appender, Layout 설정 -->
        <Console name="console" target="SYSTEM_OUT">
            <PatternLayout charset="UTF-8" pattern=" %-5level %c(%M:%L) - %m%n"/>
        </Console>
    </Appenders>
    <Loggers> <!-- Logger 설정 -->
        <Root level="INFO">
            <AppenderRef ref="console"/>
        </Root>
        <Logger name="org.travlers" level="INFO" additivity="false">
            <AppenderRef ref="console"/>
        </Logger>
        <Logger name="org.springframework" level="INFO" additivity="false">
            <AppenderRef ref="console"/>
        </Logger>
    </Loggers>
</Configuration>
